spring:
  application:
    name: vehicle-registry-service
  datasource:
    url: jdbc:postgresql://localhost:5432/fleet-management-system
    username: kbrom
    password: k27b12m19
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always

